  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta name="theme-color" content="green">
<link rel="stylesheet" href="https://codare.fun/assets/bootstrap/css/bootstrap.min.css?h=b1579cbd7df3c885978321b82fddd11d"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<title>
  Merhaba, GePanel 'e Hoş Geldin 
  </title>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <link href="/css/site.css" rel="stylesheet" />
    <link href="./css/demo.css" rel="stylesheet" />
  <link rel='icon' href='https://cdn.kardesapi.cf/assets/react/geauth.min.css'>
<script>
  const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Hoşgeldin'
})
  </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #23272A">
<a class="navbar-brand" href="/"><img src="https://cdn.discordapp.com/attachments/715886415296069652/759848282422771732/New_Project_63_7E2F688.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
<a type="button" class="icon collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" aria-expanded="true">
<i class="fas fa-bars"></i>
</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="/">Anasayfa</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Kodlar
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/kategori/js">JavaScript</a>
<a class="dropdown-item" href="/kategori/html">HTML</a>
<a class="dropdown-item" href="/kategori/py">PY</a>
<a class="dropdown-item" href="/kategori/diger">Diğer</a>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Özel Kodlar
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item javascriptplus" href="/kategori/js+">JavaScript+</a>
<a class="dropdown-item altyapi" href="/kategori/altyapi">Altyapılar</a>
<a class="dropdown-item rainbow" href="/kategori/booster">Booster</a>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Ek
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/yetkililer">Yetkililer</a>
<a class="dropdown-item" href="/sss">S.S.S.</a>
<a class="dropdown-item" href="/v11tov12">v11-v12 Kod Dönüştür</a>
<a class="dropdown-item" href="/v12tov11">v12-v11 Kod Dönüştür</a>
<a class="dropdown-item" href="/uptime">Uptime Servisi</a>
</div>
</li>
</ul>
<div class="container-fluid">
<ul class="nav navbar-nav flex-nowrap ml-auto">
<li class="nav-item active">
<a class="nav-link active" style="color: #039659" href="/giris"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
</li>

</ul>
</div>
</div>
</nav>
<br>
</div>
  <style>
  body{
    background:green;
    }
  </style>
  <p></p>
  
  
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">Bot Pingi
        <% if(!w.ws.ping < 20){ %>
          <p>Botumuz <%= w.ws.ping %> Düşük Ping Ile Size Hizmet Veriyor </p>
          <% } %>
          <% if(!w.ws.ping > 20){ %>
          
          <p>Botumuz <%= w.ws.ping %> Ile Hizmet Veriyor</p>
          
          <% } %>
        </span>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col s12 m5">
      <div class="card-panel teal"> 
        <span class="white-text">Botu Kullanan Sunucu Sayi 
          <%= guildsize %>
        </span> 
      </div> 
    </div>
  </div>
  
  
  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js" type="dd56915baf4e36e07b636606-text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js" type="dd56915baf4e36e07b636606-text/javascript"></script>
<!--<<script" type="dd56915baf4e36e07b636606-text/javascript"></script>
--><script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="dd56915baf4e36e07b636606-|49" defer=""></script></body>
</html>