    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Applicator - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="http://www.themenate.net/applicator/dist/assets/images/logo/apple-touch-icon.png">
    <link rel="shortcut icon" href="http://www.themenate.net/applicator/dist/assets/images/logo/favicon.png">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="http://www.themenate.net/applicator/dist/assets/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://www.themenate.net/applicator/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css">
    <link rel="stylesheet" href="http://www.themenate.net/applicator/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">

    <!-- page css -->

    <!-- core css -->
    <link href="http://www.themenate.net/applicator/dist/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://www.themenate.net/applicator/dist/assets/css/themify-icons.css" rel="stylesheet">
    <link href="http://www.themenate.net/applicator/dist/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="http://www.themenate.net/applicator/dist/assets/css/animate.min.css" rel="stylesheet">
    <link href="http://www.themenate.net/applicator/dist/assets/css/app.css" rel="stylesheet">
</head>

<body class=" pace-running"><div class="pace pace-active"><div class="pace-progress" data-progress-text="20%" data-progress="20" style="transform: translate3d(20%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <div class="app header-default side-nav-dark">
        <div class="layout">
            <!-- Header START -->
            <div class="header navbar">
                <div class="header-container">
                    <div class="nav-logo">
                        <a href="http://www.themenate.net/applicator/dist/index.html">
                            <div class="logo logo-dark" style="background-image: url('assets/images/logo/logo.png')"></div>
                            <div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div>
                        </a>
                    </div>
                    <ul class="nav-left">
                        <li>
                            <a class="sidenav-fold-toggler">
                                <i class="mdi mdi-menu"></i>
                            </a>
                            <a class="sidenav-expand-toggler">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li class="search-box">
                            <a class="search-toggle">
                                <i class="search-icon mdi mdi-magnify"></i>
                                <i class="search-icon-close mdi mdi-close-circle-outline"></i>
                            </a>
                        </li>
                        <li class="search-input">
                            <input class="form-control" type="text" placeholder="Type to search...">
                            <div class="search-predict">
                                <div class="search-wrapper scrollable ps-container ps-theme-default" data-ps-id="5544ae2e-fa16-4375-72c7-ab6e5e79fa7f">
                                    <div class="p-v-10">
                                        <span class="display-block m-v-5 p-h-20 text-gray">
                                            <i class="ti-file p-r-5"></i>
                                            <span>Files</span>
                                        </span>
                                        <ul class="list-media">
                                            <li class="list-item">
                                                <a class="media-hover p-h-20">
                                                    <div class="media-img">
                                                        <div class="icon-avatar bg-success">
                                                            <i class="mdi mdi-file-outline"></i>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <span class="title p-t-10">Document.xls</span>
                                                    </div>
                                                </a>
                                            </li>
                          