<%- include('ek/header') %>
<meta property="theme-color" content="#2c2f33">

<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/util.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/main.css">
  
<body>
          <!--   <div class="js">
    <div id="preloader"></div>
      <div>
 </div>
</div>-->
  <style>
  body{
    background:green;
    }
.container-login100 {
    background-image: url(https://cdn.discordapp.com/attachments/739846345107570758/740985721866944623/14c037b7102f18b2d2ccf065a52bb595.png);
} 
  </style>
  <style>
    /*Discord*/
.btn-face,
.btn-discord {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-discord {
  color: #555555;
  background-color: #7289DA;
}
.btn-discord img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}
    </style>
  <div class="limiter">
<!-- start background code-->
<div class="container-login100" style="background-image: url(https://cdn.discordapp.com/attachments/739846345107570758/740985721866944623/14c037b7102f18b2d2ccf065a52bb595.png)">
<!-- end background code-->
<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
<form class="login100-form validate-form flex-sb flex-w">
 <!-- <p class="login-form-title p-b-53">GePanel | Awesome ! </p>
  <br>
<p class="login-form-title p-b-53">Login to Continue</p>  
<a href="/giris" class="btn-discord m-b-20" style="color:white">
<img src="https://img.favpng.com/9/14/3/discord-social-media-computer-icons-png-favpng-J4Dq15J77us55NAHPFkPKQk6x_t.jpg" alt="">
Discord
</a>-->
  </div>
  </div>
  </div>
  </form>
  <style>
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #3ecbd4;
  border-radius: 10px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #2cbac3;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

  </style>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  